body {
    /* background-color: pink; */
    background-image: url("https://i.pinimg.com/474x/01/d4/55/01d45539cd38d84e2628af2c91b0245f.jpg");
    background-image: url("https://images.app.goo.gl/V42X9LAicFauCT4s7");
    background-repeat: no-repeat; 
    background-size: cover;
}

.menu{
    background: rgb(238, 174, 174);
    opacity: 0.6;
}

.menu ul {
     display: flex;
     flex-direction:row;
}

.menu li {
     list-style: none;
}

a{
    text-decoration: none;
    color:darkmagenta;
}

a:hover {
    text-decoration: underline;
    color:midnightblue;
}


body {
    background-image: url("https://i.pinimg.com/550x/93/52/da/9352da5c2c1a8bc456c619c6a751155c.jpg");
    background-size: auto;
}

a {
    text-decoration: none;
    color: hsl(278, 70%, 34%);
}

a:hover{
    text-decoration: underline;
    color:cadetblue;
}

.menu {
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: rgba(154, 113, 192, 0.8); 
    padding: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.menu li {
    margin: 0 15px; 
    list-style: none; 

}
.menu a:hover {
    text-decoration: underline;
    color: rgb(69, 139, 160); 
}
