body {
    background-image: url("https://i.pinimg.com/474x/01/d4/55/01d45539cd38d84e2628af2c91b0245f.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: hsl(278, 70%, 34%);
}

a:hover{
    text-decoration: underline;
    color:cadetblue;
}

.menu {
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: rgba(154, 113, 192, 0.8); 
    padding: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.menu li {
    margin: 0 15px; 
    list-style: none; 

}
.menu a:hover {
    text-decoration: underline;
    color: rgb(69, 139, 160); 
}
